.container {
  margin-bottom: 3rem;
}

.categoryHeader {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.itemsContainer {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 20px;
  white-space: nowrap;
}

.itemCard {
  position: relative;
  min-width: 160px;
  height: 160px;
  border: 2px solid black;
  padding: 10px;
  background: white;
  box-shadow: 6px 6px 0px black;
}

.deleteButton {
  position: absolute;
  top: 6px;
  right: 5px;
  width: 15px;
  height: 23px;
  font-size: 10px;
  background: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
