.header {
  padding: 2rem;
  border-bottom: 1px solid var(--border-color);
  background: var(--accent-yellow);
  display: flex;
  gap: 2rem;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 0;
}

.subtitle {
  font-size: 0.8rem;
  opacity: 0.7;
}

.controls {
  display: flex;
  gap: 10px;
  align-items: center;
  background: white;
  padding: 10px;
  border: 1px solid black;
}

.input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.select {
  border: none;
  padding: 5px;
  font-weight: bold;
}

.compactButton {
  margin-top: 0;
  padding: 5px 15px;
  font-size: 0.8rem;
}
