.action-button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background: transparent;
  border: 4px solid var(--border-color);
  font-family: var(--font-sans);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 4px 4px 0px var(--border-color);
  transition:
    transform 0.1s,
    box-shadow 0.1s;
}

.action-button:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px var(--border-color);
}

.footer-bar {
  border-top: 1px solid var(--border-color);
  padding: 10px 2rem;
  font-size: 12px;
  display: flex;
  gap: 2rem;
  background-color: var(--bg-paper);
  flex-shrink: 0;
}
