#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 300px;
  background-color: #f9f9f9;
  color: black;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
