:root {
  /* Colors */
  --bg-paper: #f3f2ef;
  --accent-yellow: #e8d489;
  --accent-pink: #e6b8b8;
  --text-main: #1a1a1a;
  --border-color: #1a1a1a;
  --grid-color: rgba(0, 0, 0, 0.05);
  --soft-black: #1a1a1a;

  /* Fonts */
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-paper);
  color: var(--text-main);
  font-family: var(--font-sans);

  min-width: 1100px;
  min-height: 700px;
  overflow: auto;
}

.action-button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background: transparent;
  border: 4px solid var(--border-color);
  font-family: var(--font-sans);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 4px 4px 0px var(--border-color);
  transition:
    transform 0.1s,
    box-shadow 0.1s;
}

.action-button:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px var(--border-color);
}

.footer-bar {
  border-top: 1px solid var(--border-color);
  padding: 10px 2rem;
  font-size: 12px;
  display: flex;
  gap: 2rem;
  background-color: var(--bg-paper);
  flex-shrink: 0;
}

/* --- LOADER --- */
.brutalist-loader-box {
  background: var(--accent-yellow);
  border: 3px solid black;
  box-shadow: 6px 6px 0px black;
  padding: 2rem;
  width: 260px;
  margin: auto;
  z-index: 10;
}

.brutalist-loader-text {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.blink-block {
  display: inline-block;
  width: 12px;
  height: 1.2rem;
  background-color: black;
  margin-left: 6px;
  animation: blink-animation 0.8s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.loader-status-line {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.75rem;
  margin-top: 4px;
  font-weight: bold;
}

.center-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.avatar-image-display {
  max-height: 95%;
  max-width: 95%;
  width: auto;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.3));
}

.selection-toggle-btn {
  font-size: 10px;
  margin-top: 5px;
  padding: 5px 12px;
  cursor: pointer;
  border: 1px solid black;
}
